{
    "env": {
      "esm": {
         "presets": [
            [
              "@babel/env",
              {
                "modules": false
              }
            ],
            ["minify"]
          ]
       },
      "commonjs": {
        "presets": [
            [
              "@babel/env",
              {
                "modules": "commonjs"
              }
            ],
            ["minify"]
          ]
      }
    }
  }