.active{
    stroke-width: 5;
    stroke: #000000;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
}


.github-badge > a {
    float: right;
}


.container-with-columns{
    display:flex; 
    flex-wrap:wrap;
    align-items:flex-start;
    margin-bottom:20px;
}

@media only screen and (min-width: 600px) {

    .github-badge{
        position: absolute;
        width: 1000px;
    }

    .container{
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
    }

    .container-with-columns{
        flex-wrap: nowrap;
    }
}

h1{
    background-color: #ffd523;
    margin: 0px;
    padding: 20px;
}

h2{
    background-color: #ffd523;
    margin: 0px;
    padding: 20px;
}

p{
    padding: 5px;
    line-height: 2;
}

ul {
    line-height: 2;
}

.code{
    font-family: monospace;
    background-color: #efefef;
    padding: 2px;
}

.example{
    border: #d9d9d9;
    border-style: dashed;
    border-width: 3px;
    position: relative;
}

.example-label{
    position: absolute;
    right: 0px;
    background-color: #d9d9d9;
    color: #616161;
    padding: 4px;
}

#json{
    height: 300px;
    overflow-y: scroll;
}

.button{
    padding: 10px;
    width: 100px;
    color:black;
    background-color: #ffd523;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

.button:hover{
    background-color: #ffe883;
}

.button-secondary{
    padding: 10px;
    width: 150px;
    color:black;
    border-color: #ffd523;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

.button-secondary:hover{
    background-color: #ffd523;
}

.faq{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
}

.faq-card{
    background-color: #fff2bb;
    justify-content: center; 
    padding: 10px;
    margin: 10px;
    flex-basis: 300px;
}

.footer{
    background-color: #ffd523;
    margin-top: 40px;
    padding: 10px;
    text-align: right;
}